@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

body {
  font-family: 'Red Hat Display', sans-serif;
}

.navbar-brand {
  font-weight: 700;

  img {
    width: 3rem;
  }
}

.carousel.slide {

  .carousel-inner, .carousel-item {
    height: 100%;
  }
  height: 50%;
  img {
    height: 50%;
    object-fit: cover;
  }

  .carousel-desc {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.support-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.support-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid green;
  margin: 3px;
}

.link-list {
  padding: 0;
}

.link-list-item {
  text-align: left;
  font-size: 0.9rem;
}

.link-list-item-url {
  text-decoration: none;
  margin: 6px;
  display: block;
  color: #1d1d1d;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
}